/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_opacity.scss */
.opacity-5 {
  opacity: 0.5;
}
/* line 5, ../sass/partials/_opacity.scss */
.opacity-6 {
  opacity: 0.6;
}
/* line 8, ../sass/partials/_opacity.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 11, ../sass/partials/_opacity.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 14, ../sass/partials/_opacity.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 2, ../sass/partials/_modules.scss */
.contact-s3, .ourstory-s3 {
  background-color: #999 !important;
  background-blend-mode: multiply !important;
}

/* line 8, ../sass/partials/_modules.scss */
.menu-s2, .menu-s4 {
  background-color: #999 !important;
  background-blend-mode: multiply !important;
}

/* line 15, ../sass/partials/_modules.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}

/* line 20, ../sass/partials/_modules.scss */
nav {
  z-index: 10;
}

/* line 24, ../sass/partials/_modules.scss */
textarea {
  resize: none;
}

@media all and (max-width: 767px) {
  /* line 30, ../sass/partials/_modules.scss */
  .contact-s1, .contact-s2 {
    background-color: #999 !important;
    background-blend-mode: multiply !important;
  }
  /* line 31, ../sass/partials/_modules.scss */
  .contact-s1 *, .contact-s2 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 38, ../sass/partials/_modules.scss */
  .contact-s1 {
    background-position: right !important;
  }

  /* line 43, ../sass/partials/_modules.scss */
  .index-s1 {
    background-color: #999 !important;
    background-blend-mode: multiply !important;
  }
  /* line 44, ../sass/partials/_modules.scss */
  .index-s1 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }

  /* line 53, ../sass/partials/_modules.scss */
  .menu-s1, .menu-s3 {
    background-color: #999 !important;
    background-blend-mode: multiply !important;
    background-position: right !important;
  }
  /* line 54, ../sass/partials/_modules.scss */
  .menu-s1 *, .menu-s3 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }

  /* line 64, ../sass/partials/_modules.scss */
  .navbar-nav {
    background-color: #999 !important;
    background-blend-mode: multiply !important;
    border: 1px solid #333;
    opacity: 0.9;
    padding: 10px;
  }
  /* line 65, ../sass/partials/_modules.scss */
  .navbar-nav * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 66, ../sass/partials/_modules.scss */
  .navbar-nav *:hover {
    opacity: 0.8;
  }

  /* line 80, ../sass/partials/_modules.scss */
  .ourstory-s1, .ourstory-s2 {
    background-color: #999 !important;
    background-blend-mode: multiply !important;
    background-position: right !important;
  }
  /* line 81, ../sass/partials/_modules.scss */
  .ourstory-s1 *, .ourstory-s2 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
}
/* line 31, ../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: scroll;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s1 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s2 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s3 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: scroll;
  background-image: url(../img/error.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.login-s1 {
  background-attachment: scroll;
  background-image: url(../img/login/login-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s1 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s2 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s3 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s4 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.ourstory-s1 {
  background-attachment: scroll;
  background-image: url(../img/ourstory/ourstory-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.ourstory-s2 {
  background-attachment: scroll;
  background-image: url(../img/ourstory/ourstory-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.ourstory-s3 {
  background-attachment: scroll;
  background-image: url(../img/ourstory/ourstory-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: scroll;
  background-image: url(../img/privacy.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}
