$bg__comingsoon-img: "../img/coming.jpg";
$bg__contact-img: 
    "../img/contact/contact-s1.jpg",
    "../img/contact/contact-s2.jpg",
    "../img/contact/contact-s3.jpg";
$bg__error-img: "../img/error.jpg";
$bg__index-img: "../img/index/index-s1.jpg";
$bg__login-img: "../img/login/login-s1.jpg";
$bg__menu-img: 
    "../img/menu/menu-s1.jpg",
    "../img/menu/menu-s2.jpg",
    "../img/menu/menu-s3.jpg",
    "../img/menu/menu-s4.jpg";
$bg__ourstory-img: 
    "../img/ourstory/ourstory-s1.jpg",
    "../img/ourstory/ourstory-s2.jpg",
    "../img/ourstory/ourstory-s3.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__classes:
    "comingsoon",
    "contact",
    "error",
    "index",
    "login",
    "menu",
    "ourstory",
    "privacy";
$bg__aoa:
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__login-img,
    $bg__menu-img,
    $bg__ourstory-img,
    $bg__privacy-img;
$color__shadow: #333;
$text__shadow: 1px 1px 3px $color__shadow; 